simulaDados.json
[
    {
        "id": "fa06198fae1793e3",
        "type": "tab",
        "label": "simulaDados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b521afe0f39e5fe",
        "type": "function",
        "z": "fa06198fae1793e3",
        "name": "gera dados",
        "func": "const agora = new Date();\n\nmsg.payload = JSON.stringify({\n    dataHora: agora.toLocaleDateString() + ' ' + agora.toLocaleTimeString(),\n    temperatura: Math.floor(Math.random() * 50)\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "0cba88443c2b62bf",
                "c42f9e9d30c3516c",
                "878311624ebc06c2"
            ]
        ]
    },
    {
        "id": "f2e89a25aaa7a6e3",
        "type": "http in",
        "z": "fa06198fae1793e3",
        "name": "",
        "url": "/dados",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "2b521afe0f39e5fe"
            ]
        ]
    },
    {
        "id": "c42f9e9d30c3516c",
        "type": "mqtt out",
        "z": "fa06198fae1793e3",
        "name": "",
        "topic": "Compressor",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94b53afc6b7d8551",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "878311624ebc06c2",
        "type": "http response",
        "z": "fa06198fae1793e3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "0cba88443c2b62bf",
        "type": "debug",
        "z": "fa06198fae1793e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "94b53afc6b7d8551",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "b29f84b0972441899ce848b7b2a4dbda.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]